
body {
  font-family: 'Roboto', sans-serif;
  background: #fafaf6;
}

/* navbar styles */


.hero {
  width: 100%;
}


.product-card {
  width: 90%;
  margin: auto;
}

.sec-header {
  margin-left: 10px;
  display: block;
}

.gridgallery {
  display: block;
  white-space: pre;
}

.container {
  margin: 10px;
  padding: 5px;
}