
body {
  font-family: 'Roboto', sans-serif;
  background: #fafaf6;
}

/* navbar styles */


.hero {
  width: 100%;
}


.product-card {
  width: 90%;
  margin: auto;
}

.sec-header {
  margin-left: 10px;
  display: block;
  font-size: 3em;
}
/* 
.gridgallery {
  display: block;
  white-space: pre;
} */

.container {
  margin: 20px;
  padding: 5px;
  float: left;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* .footer-list {
  list-style-type: none;
  background-color: #ffd717;
}

.footer {
  display: block;
} */

/* clear:both */